<h2>Titulo</h2>
<form action="/celebrities/create" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" id="occupation" />
    <label for="catchPhrase">Catch Phrase</label>
    <input type="text" name="catch" id="catch" />
  </div>
  <button type="submit">Una nueva celebridad ha nacido!</button>
</form>